<div class="container-big-card">
    <div class="big-card-photo">
        <img src="https://images.pexels.com/photos/355465/pexels-photo-355465.jpeg" alt="" 
        srcset="" 
        height="200px"
        width="400px" 
        >
    </div>
    <div class="big-card-title">
        <h1><a href="#">Titulo da noticia.</a></h1>
    </div>
    <div class="big-card-description">
        <p><a href="#">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum veniam impedit minima! Dolor quaerat porro accusantium nulla, cum, dicta labore id vitae doloremque nemo et ipsam molestiae quis, illo optio!
        
        </a></p>
    </div>
</div>
