.container-big-card{
    width: 400px;
    height: 600px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    margin-left: 25px;
    margin-right: 50px;
    
}

.big-card-photo > img{
    width: 400px;
    min-width: 400px;
}

.big-card-title > h1{
    font-size: 20px;
    margin-top: 15px;
}

.big-card-description{
    margin-top: 10px;
}

.big-card-description > p{
    color: gray;
    
}