<div class="container-small-card">
    <div class="small-card-photo">
        <img src="https://images.pexels.com/photos/355465/pexels-photo-355465.jpeg"
         alt=""
         width="200px"
         height="140px">
    </div>
    
    <div class="small-card-description">
        <p id="date">12-09-2023</p>
        <p>
            <a>
            Lorem ipsum dolor sit ameis rerum sapiente, amet repellendus, nesciunt optio dolor debitis accusamus.
            </a>
        </p>
        <br><br>
    </div>
</div>
